/*
*
* COLOR THEME:
* Primary: #03A9F4
* Secondary: #009688
* Accent: #00BCD4
*
*/

/*****************NAVIGATION*****************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #03A9F4;
    overflow-x: hidden;
    transition: 0.5s all;
    padding-top: 52px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 1s all ease;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.navbar-burger {
    z-index: 999999;
}

.overridden-white {
    color: #ffffff !important;
}

a.overridden-white:hover {
    opacity: 0.6;
    color: #ffffff !important;
}

#nav-logo {
    display: block;
    width: auto;
    min-height: 100%;
    min-width: 36px;
}

#nav-burg {
    display: block;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    height: 100vh; /* Full height (cover the whole page) */
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 31;
    cursor: pointer; /* Add a pointer on hover */
    transition: 0.5s all;
}

/*****************MAIN*****************/
.sidenav-active {
    background-color: white;
    color: #03A9F4;
}

.sidenav-active:hover {
    opacity: 0.6;
}

.pushed {
    transition: margin-right .5s;
}

#title-logo {
    max-width: 40%;
    height: auto;
}

.bg-primary {
    background-color: #03A9F4 !important;
}

.g-signin2 {
    width: 100%;
}

.g-signin2 > div {
    margin: 0 auto;
}

.small-text {
    font-size: 8px;
}

/*****************MEDIA QUERIES*****************/
@media screen and (min-width: 1499px) {
    .small-text {
        font-size: 16px;
    }

}

@media screen and (max-width: 501px) {
    .small-text {
        font-size: 16px;
    }
}