/*
*
* COLOR THEME:
* Primary: #03A9F4
* Secondary: #009688
* Accent: #00BCD4
*
*/

/*****************NAVIGATION*****************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    background-color: #03A9F4;
    overflow-x: hidden;
    transition: 0.5s width;
    padding-bottom: 92px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 1s all ease;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.navbar-burger {
    z-index: 999999;
    background-color: rgba(0, 0, 0, .075);
}

.navbar-burger:hover {
    background-color: rgba(0, 0, 0, .1);;
}

.overridden-white {
    color: #ffffff !important;
}

#sidenav-link-container a.overridden-white,
#nav-bottom-links ul li a.overridden-white {
    text-decoration: none;
}

a.overridden-white {
    text-decoration: underline;
}

a.overridden-white:hover {
    opacity: 0.6;
    color: #ffffff !important;
}

a.overridden-white.button {
    text-decoration: none;
}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 156px;
}

#navbar-brand {
    min-height: 100%;
    width: 100%;
}

#nav-logo {
    display: block;
    width: auto;
    min-height: 100%;
}

.navbar-burger {
    display: block;
    right: 0;
    top: 0;
    position: absolute;
    width: 156px;
    height: 156px;
    transition: none;
}

.navbar-burger.is-large span {
    width: 3rem;
    height: 4px;
    left: calc(50% - 1.5rem);
}

.navbar-burger.is-large span:nth-child(1) {
    top: calc(50% - 14px) !important;
}

.navbar-burger.is-large span:nth-child(2) {
    top: calc(50% - 1px) !important;
}

.navbar-burger.is-large span:nth-child(3) {
    top: calc(50% + 12px) !important;
}

.navbar-burger.is-large.is-active span:nth-child(1) {
    top: calc(50% - 6px) !important;
}

.navbar-burger.is-large.is-active span:nth-child(2) {
    top: calc(50% + (1rem / 2)) !important;
}

.navbar-burger.is-large.is-active span:nth-child(3) {
    top: calc(50% + 4px) !important;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    height: 100vh; /* Full height (cover the whole page) */
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 999999;
    cursor: pointer; /* Add a pointer on hover */
    transition: 0.5s all;
}

#nav-bottom-links {
    position: absolute;
    bottom: 0;
    width: 250px;
}

#nav-bottom-links ul li {
    font-size: 14px;
    padding: 8px 8px 8px 32px;
}

#nav-bottom-links ul li:first-of-type {
    font-size: 24px;
}

#nav-bottom-links ul li a {
    display: inline-block;
    padding: 0 5px;
}

#nav-bottom-links ul li a:first-of-type {
    padding-left: 0;
    border-right: 1px solid #03A9F4;
}

#nav-bottom-links ul li a.overridden-white:first-of-type {
    border-right-color: white;
}

.sidenav-active {
    background-color: white;
    color: #03A9F4;
}

.sidenav-active.inverted {
    background-color: #03A9F4;
    color: white !important;
}

.sidenav-active:hover {
    opacity: 0.6;
}

#sidenav-link-container {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/*****************ADD FORM*****************/

input[id^="teacherInput"] {
    background: url('/static/img/search-icon.png') no-repeat 14px 12px;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: 1px solid black;
}

input[id^="teacherInput"]:focus {
    outline: 3px solid #03A9F4;
}

.teacher-dropdown {
    display: inline-block;
    width: 100%;
    margin: 45px 0;
    height: auto;
}

.teacher-dropdown-content {
    display: block;
    min-width: 230px;
    overflow: auto;
    z-index: 1;
}

.teacher-dropdown-content a, p {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.link-holder {
    max-height: 192px;
    max-width: 241px;
    overflow: auto;
    display: none;
    margin: 0 auto;
    background-color: #f6f6f6;
    border: 1px solid black;
}

#form-invis {
    opacity: 0 !important;
    display: none !important;
    visibility: hidden !important;
}

div[id^="teacher-notif-"] {
    display: none;
    z-index: 999;
}

div[id^="teacher-notif-"] .subtitle {
    font-size: 1rem !important;
    margin-bottom: 0 !important;
}

.block-label {
    color: #009688;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0 !important;
}

.teacher-dropdown .notification {
    margin: 0 auto;
    max-width: 241px;
}

.lunch-dropdown {
    padding: 0.5rem;
    font-size: 12px;
    border-color: #009688;
    color: #009688;
}

.lunch-options {
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px auto;
}

.lunch-option {
    flex: 1;
    display: none;
}

#public-checkbox {
    background: white;
    border-radius: 5px;
}

#public-checkbox:checked {
    background: #abd;
}

/*****************MAIN*****************/
.underlined,
a.underlined {
    text-decoration: underline !important;
}

.white-link,
a.white-link {
    color: white !important;
}

.white-link:hover,
a.white-link:hover {
    opacity: 0.6;
}

.help-tip {
    text-align: center;
    position: relative;
    background-color: #03A9F4;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    margin-left: 5px;
}

.help-tip:before {
    content: '?';
    font-weight: bold;
    color: #fff;
}

.help-tip:hover p,
.help-tip:focus p {
    display: block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p { /* The tooltip */
    display: none;
    text-align: left;
    background-color: #009688;
    padding: 10px 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF !important;
    font-size: 13px;
    line-height: 1.4;
    z-index: 1;
}

.help-tip p:before { /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #009688;
    right: 10px;
    top: -12px;
}

.help-tip p:after { /* Prevents the tooltip from being hidden */
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.pushed {
    transition: margin-right .5s;
}

#title-logo {
    max-width: 40%;
    height: auto;
}

.bg-primary {
    background-color: #03A9F4 !important;
}

body.bg-primary {
    min-height: 100vh;
}

.g-signin2 {
    width: 100%;
}

.g-signin2 > div {
    margin: 0 auto;
}

.small-text {
    font-size: 12px;
}

.notification {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.notification.is-primary {
    background-color: #009688;
}

.notification.is-primary p {
    color: white !important;
}

.notification button {
    transition: 0.5s all;
}

#flashes {
    display: none;
}

.flash {
    margin: 0 !important;
}

.flash:not(:last-child) {
    margin-bottom: 0.5rem !important;
}

.is-user {
    background-color: #00d1b2 !important;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

ul.overridden-white li {
    color: white !important;
}

ul.overridden-white li a {
    color: white !important;
}

ul.overridden-white li a:hover {
    opacity: 0.6;
}

.download-button {
    height: 60px;
    width: auto;
    display: block;
    margin: 8px;
}

.download-button img {
    height: 100%;
}

.link-holder::-webkit-scrollbar {
    -webkit-appearance: none !important;
}

.link-holder::-webkit-scrollbar:vertical {
    width: 12px !important;
}

.link-holder::-webkit-scrollbar:horizontal {
    height: 12px !important;
}

.link-holder::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5) !important;
    border-radius: 10px !important;
    border: 2px solid #ffffff !important;
}

.link-holder::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: #ffffff !important;
}

/*****************MEDIA QUERIES*****************/
@media screen and (min-width: 1600px) {
    .small-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    #nav {
        min-height: 100px;
        height: 100px;
    }

    .navbar-burger {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 410px) {
    .help-tip p {
        width: 250px;
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    #flashes {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    input[id^="teacherInput"] {
        max-width: 80%;
        font-size: 12px;
    }

    .link-holder {
        max-width: 80%;
    }
}

@media screen and (max-width: 334px) {
    .help-tip p,
    .help-tip p:before {
        left: 50%;
        right: unset;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}