/*
*
* COLOR THEME:
* Primary: #03A9F4
* Secondary: #009688
* Accent: #00BCD4
*
*/

body {
    background-color: white!important;
}

h1, h2, h3, h4, h5, h6, a {
    color: #03A9F4!important;
}

a {
    transition: 1s all ease;
}

a:hover {
    color: #009688!important;
}

/* Bulma corrections & color changes */
.is-transparent {
    background: transparent none!important;
}

.button.is-primary {
    background-color: #03A9F4!important;
    color: white!important;
}

.button.is-primary:hover {
    background-color: white!important;
    color: #03A9F4!important;
    border: 1px solid #03A9F4;
}

.button.is-primary.is-outlined {
    background-color: white!important;
    color: #03A9F4!important;
    border: 1px solid #03A9F4!important;
}

.button.is-primary.is-outlined:hover {
    background-color: #03A9F4!important;
    color: white!important;
}