<!doctype html>
<html lang="en">
<head>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id"
        content="764760025104-is3262o216isl5tbfj4aakcel2tirl7n.apps.googleusercontent.com">
  <script src="//apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div>
<form method="post" action="/">
  <input name="id_token" id="token">
  <input name="auth_code" id="auth">
  <label for="date">Date: </label><input name="date" id="date">
</form>
<script>
  function onSignIn(googleUser) {
    // Useful data for your client-side scripts:
    document.getElementById("date").value = prompt("Date?");
    var profile = googleUser.getBasicProfile();
    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    console.log('Full Name: ' + profile.getName());
    console.log('Given Name: ' + profile.getGivenName());
    console.log('Family Name: ' + profile.getFamilyName());
    console.log("Image URL: " + profile.getImageUrl());
    console.log("Email: " + profile.getEmail());

    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);
    document.getElementById("token").value = id_token;
    document.forms[0].submit();
  }
</script>
</body>
</html>