<!DOCTYPE html>
<html>
<head>
	{% if schedule is none %}
	<title>Add new schedule - PreMatch</title>
	{% else %}
	<title>Edit existing schedule - PreMatch</title>
	{% endif %}
</head>
<body>
	<form method="POST" action="/update" id="form">
		<label for="name">Name</label>
		<input type="text" readonly id="name" name="name" value="{{ name }}">
		<br>
		<label for="handle">Handle</label>
		<input type="text" readonly id="handle" name="handle" value="{{ handle }}">

		{% for period in 'ABCDEFGH' %}
			<br>
			<label for="teacher{{ period }}">{{ period }}</label>
			<select name="{{ period }}" id="teacher{{ period }}" form="form">
				{% for teacher in teachers %}
					{% if schedule is not none and schedule[period] == teacher %}
						<option value="{{ teacher }}" selected>{{ teacher }}</option>
					{% else %}
						<option value="{{ teacher }}">{{ teacher }}</option>
					{% endif %}
				{% endfor %}
			</select>
		{% endfor %}

		<input type="submit" value="Submit">
	</form>
</body>
</html>