<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs %}

{{ head('PreMatch for iOS', False) }}

<body id="body">

{{ nav(logged_in, "/about/ios") }}

<section class="section pushed has-text-centered">
    <div class="container">
        <h1 class="title is-size-1 is-size-2-mobile">PreMatch for iOS</h1>
        <h2 class="subtitle is-size-3 is-size-4-mobile">The revolution Andover High has long awaited</h2>

        <a class="download-button" href="https://apps.apple.com/us/app/prematch-for-ios/id1456557620" target="_blank">
            <img src="/static/img/iOS/Download.svg">
        </a>

        <p class="subtitle is-size-5 is-size-6-mobile">Need convincing? Read through this page to learn about the app's
            many
            useful features!</p>
    </div>
</section>
<section class="section pushed has-text-centered">
    <div class="container">
        <h1 class="title is-size-2 is-size-3-mobile">7+H at Your Fingertips</h1>
        <img src="/static/img/iOS/schedule-viewer.jpg" alt="Day-by-day schedule viewer"/>
        <p class="subtitle is-size-5 is-size-6-mobile">Check today's schedule, revisit the past, or plan ahead with a
            comprehensive school year schedule. PreMatch for iOS knows your schedule so you don't have to.</p>
    </div>
</section>
<section class="section pushed has-text-centered">
    <div class="container">
        <h1 class="title is-size-2 is-size-3-mobile">Personalize with Ease</h1>
        <img src="/static/img/iOS/Personalization.png" alt="Personalization Prompt"/>
        <p class="subtitle is-size-5 is-size-6-mobile">A simple sign in with your <strong>k12.andoverma.us</strong> Google account is all it takes to integrate your schedule data from PreMatch.org. Move on from confusing letters - learn which teacher you're seeing at any time.</p>
    </div>
</section>
<section class="section pushed has-text-centered">
    <div class="container">
        <h1 class="title is-size-2 is-size-3-mobile">Avoid Morning Forgetfulness</h1>
        <img src="/static/img/iOS/daily-briefing.jpg" alt="Daily Briefing Customization Screen"/>
        <p class="subtitle is-size-5 is-size-6-mobile">Never bring the wrong materials to school again with <strong>customizable daily briefings</strong>. Receive notifications displaying your schedule at a customizable time every school day and say goodbye to early morning confusion and mix-ups.</p>
    </div>
</section>
<section class="section pushed has-text-centered">
    <div class="container">
        <h1 class="title is-size-2 is-size-3-mobile">Always Accessible</h1>
        <img src="/static/img/iOS/widget.jpg" alt="iOS Widget"/>
        <p class="subtitle is-size-5 is-size-6-mobile">Available without unlocking your phone, our easy-to-use widget ensures you always know where to go. It even can <strong>tell you what block you are in or should be heading to at any time</strong>!</p>
    </div>
</section>
<section class="section pushed has-text-centered">
    <div class="container">
        <h1 class="title is-size-3 is-size-4-mobile">Ready to join the PreMatch revolution?</h1>

        <a class="download-button" href="https://apps.apple.com/us/app/prematch-for-ios/id1456557620" target="_blank">
            <img src="/static/img/iOS/Download.svg">
        </a>

        <br>
        <h6 class="title is-size-5">Compatibility:</h6>
        <p class="subtitle is-size-6">PreMatch for iOS requires <strong>iOS 10.0</strong> or later, and is compatible with iPhone<sup>&reg;</sup>, iPad<sup>&reg;</sup>, and iPod touch<sup>&reg;</sup>.</p>
        <br>
        <p class="subtitle"><em>Apple, the Apple logo, iPhone, and iPad are trademarks of Apple Inc., registered in the U.S. and other countries and regions. App Store is a service mark of Apple Inc.</em></p>
    </div>
</section>
<style>
    .download-button {
        height: 60px;
        width: auto;
        display: block;
        margin: 8px;
    }

    .download-button img {
        height: 100%;
    }

    .section .container img {
        max-width: 35%;
    }
</style>
{{ importJs() }}

</body>
</html>