<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs %}

{{ head('About PreMatch', True) }}

<body id="body" class="bg-primary">

{{ nav(False, "/about") }}

<section class="hero is-fullheight is-transparent section pushed">
    <div class="hero-body" style="padding-top: 0; padding-bottom: 0;">
        <div class="container has-text-centered">
            <h2 class="subtitle overridden-white">Find your classmates</h2>
        </div>
    </div>
</section>

{{ importJs() }}

</body>
</html>