<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs %}

{{ head('About PreMatch', True) }}

<body id="body" class="bg-primary">

{{ nav(False, "/about") }}

<section class="hero is-fullheight is-transparent section pushed">
    <div class="hero-body" style="padding-top: 0; padding-bottom: 0;">
        <div class="container has-text-centered">
            <h1 class="is-large title overridden-white">PreMatch</h1>
            <h2 class="subtitle overridden-white">Find your classmates</h2>
        </div>
    </div>
</section>
<section class="bg-primary section pushed">
    <div class="container is-fluid has-text-centered">
        <h1 class="title overridden-white is-size-1">What is PreMatch?</h1>
        <p class="overridden-white is-size-4">PreMatch is a site designed for students at Andover High School, enabling
            them to
            find out which of their friends are in which of their classes before school starts.</p>
    </div>
</section>
<section class="has-background-white is-medium section pushed">
    <div class="container is-fluid has-text-centered">
        <h1 class="title is-size-1">How did it begin?</h1>
        <p class="is-size-4">PreMatch is driven off the inspiration that arises from students tending to post their schedules on social media when they get released but before school starts. This phenomenon demonstrated to us that many students are interested in who their classmates will be <strong>in advance</strong>. Following this need, we have developed a platform for students to share their schedules and receive valuable classmate information in return.</p>
    </div>
</section>
<section class="bg-secondary is-medium section pushed is-fluid has-text-centered">
    <h1 class="title is-size-1 overridden-white">Contact Us</h1>
    <h2 class="overridden-white is-size-4">We appreciate your feedback.</h2>
    <br>

    <!-- Form here -->

</section>

{{ importJs() }}

</body>
</html>