<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs %}

{{ head('About PreMatch', True) }}

<body id="body" class="bg-primary">

{{ nav(logged_in, "/about", handle) }}

<section class="is-transparent section pushed">
    <div class="container is-fluid has-text-centered">
        <h1 class="title overridden-white is-size-1">What is PreMatch?</h1>
        <p class="overridden-white is-size-4">PreMatch is a site designed specifically for students of Andover High
            School. It is a tool that you can use to find out which of your friends will be in which of your classes
            before school starts.</p>
    </div>
</section>
<section class="has-background-white is-medium section pushed">
    <div class="container is-fluid has-text-centered">
        <h1 class="title is-size-1">Who made PreMatch?</h1>
        <p class="is-size-4">PreMatch was made by two students at Andover High, <strong>Daniel Ivanovich</strong> and
            <strong>Michael Peng</strong>, in the summer before their sophomore year.</p>
    </div>
</section>
<section class="is-transparent is-medium section pushed">
    <div class="container is-fluid has-text-centered">
        <h1 class="overridden-white title is-size-1">Why was PreMatch made?</h1>
        <p class="overridden-white is-size-4">As students, we had experienced firsthand the chaos of schedule releases.
            Normally released around a week before school starts, these schedules cause nearly every student to suddenly
            freak out over which of their friends are in which of their classes. To try and lessen this chaos, we
            decided to make a tool that would allow every student to quickly and easily post their schedule. Because of
            PreMatch, all schedules could be in securely accessed from one place, instead of scattered across many.</p>
    </div>
</section>
<section class="has-background-white is-medium section pushed">
    <div class="container is-fluid has-text-centered">
        <h1 class="title is-size-1">Will others be able to see what classes I am taking?</h1>
        <p class="is-size-4">No. PreMatch keeps the majority of your schedule hidden. The only information it asks for
            is the name of your teacher for each block. It does not ask for level, room number, or any sensitive
            information. </p>
    </div>
</section>
<section class="is-transparent is-medium section pushed">
    <div class="container is-fluid has-text-centered">
        <h1 class="overridden-white title is-size-1">Is it safe to post my schedule on PreMatch?</h1>
        <p class="overridden-white is-size-4">Yes, it is. Nobody can post a schedule, edit a schedule, view a user's
            schedule or a class roster, or search for users without being logged into a valid k12.andoverma.us gmail
            account.</p>
    </div>
</section>
<section class="has-background-white is-medium section pushed">
    <div class="container is-fluid has-text-centered">
        <h1 class="title is-size-1">Can PreMatch get my Google password?</h1>
        <p class="is-size-4">No. PreMatch only gets your full name and email address (to confirm it is a
            k12.andoverma.us email). All sign ins and authentication is done through Google, and if PreMatch ever will
            require more sensitive information, Google would ensure that it has your consent to retrieve it. If you want
            to learn more, you can <a href="https://support.google.com/accounts/answer/3466521?hl=en" target="_blank">read
                about Google's sign in policies</a> or watch the following video by Google.</p>
        <br>
        <iframe src="https://www.youtube.com/embed/W1a1lQHVtJo?rel=0" frameborder="0" allow="encrypted-media"
                allowfullscreen></iframe>
    </div>
</section>
<!--<section class="is-transparent is-medium section pushed is-fluid has-text-centered">
    <h1 class="title is-size-1 overridden-white">Contact Us</h1>
    <h2 class="overridden-white is-size-4">We appreciate your feedback.</h2>
    <br>

</section>-->


<style>
    section {
        width: 100%;
        padding-left: 8% !important;
        padding-right: 8% !important;
    }

    /* Video controls*/
    iframe {
        width: 75vw;
        height: 42.1875vw;
    }

    /* Note that the width:height ratio is constant */

    @media screen and (max-width: 650px) {
        iframe {
            width: 98vw;
            height: 55.125vw;
        }

        section {
            padding-left: 1% !important;
            padding-right: 1% !important;
        }
    }

    @media screen and (max-width: 600px) {
        .title {
            font-size: 2rem !important;
        }

        p.is-size-4 {
            font-size: 1rem !important;
        }
    }
</style>

{{ importJs() }}

</body>
</html>