<!DOCTYPE html>
<html>
{% from 'macros.html' import head, nav, importJs %}

{{ head('Add Schedule - PreMatch') }}
<script type="text/javascript" src="/static/js/addSchedule.js"></script>
<body id="body" class="bg-primary">

{{ nav(True) }}

<script type="text/javascript">
    document.getElementById("body").style.paddingTop = $("#nav").innerHeight() + 'px'
</script>

{% if name != '' %}
<h1 class="overridden-white">Welcome, {{ name }}!</h1>
{% endif %}

<form method="POST" action="/update" id="form">
</form>

<script type="text/javascript">
    buildForm(["A", "B", "C"], {{ teachers|tojson }});
</script>

{{ importJs() }}

</body>
</html>