<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs, footer %}

{{ head('AP Exam Calendar Events', True) }}

<body id="body" class="bg-primary">

{{ nav(logged_in, "/ap-exam/events") }}

<section class="is-transparent is-medium section pushed">
    <div class="container is-fluid has-text-centered">
        <h1 class="title overridden-white is-size-1 is-size-3-mobile">Add AP Exams to Your Calendar</h1>
        <p class="subtitle overridden-white is-size-4 is-size-5-mobile">Please select each AP exam that you intend to take. Then, press
            the <i>Get Events</i> button to receive a .ics file that you can <strong>import into just about any calendar
                program</strong>, such as Google Calendar and Apple Calendar.</p>
        <form method="post" class="has-text-left overridden-white is-size-5 is-size-6-mobile">
            {% for subject in subjects %}
                <div>
                    <label class="checkbox">
                        <input type="checkbox" name="{{ subject }}">
                        {{ subject }}
                    </label>
                </div>
            {% endfor %}
            <hr>
            <label class="checkbox">
                <input type="checkbox" id="makeup-input" name="__makeup">
                I am taking these exams in <strong>June</strong>
            </label>
            <div class="has-text-centered">
                <a class="button is-outlined is-primary is-medium" href="javascript:void(0)" onclick="attemptSubmit()"
                   title="Submit">Get Events</a><br>
                <i id="selection-counter-container"><span id="selection-counter">0</span> exam(s) selected</i>
            </div>
            <p class="overridden-white" id="error-msg">Please select <strong>at least one</strong> item!</p>
            <br>
{#            <i>Please check your calendar entries against the email you received from CollegeBoard about your#}
{#                testing times!</i>#}
            <details class="overridden-white"><summary>Caveat for iOS Safari</summary>The preview might show the events
                shifted 1 day back, but the dates are accurate when you view the details of each event and after you
                import the events into your calendar. We have no control over this bug.</details>

        </form>
        <style>
            form {
                width: 360px;
                margin: 0 auto;
            }

            label:hover {
                color: white !important;
            }

            .button {
                transition: 1s all ease;
                margin-top: 1rem;
            }

            .button.is-outlined.is-primary:hover {
                border-color: white !important;
            }

            @media screen and (max-width: 678px) {
                form {
                    width: 300px;
                }
            }
        </style>
        <script type="text/javascript">
            $('#error-msg').hide();

            function attemptSubmit() {
                if ($('input:checked').length > 0) {
                    $('#error-msg').hide();
                    $('form').first().submit();
                } else
                    $('#error-msg').show();
            }
            $(() => {
                const counterElement = $('#selection-counter');
                let counter = 0;

                $('input:checkbox:not(#makeup-input)').on('change', function() {
                    counter += (this.checked ? 1 : -1);
                    counterElement.text(counter);
                });
            });
        </script>
    </div>
</section>

{{ importJs() }}

</body>
</html>
