<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs, bodyPaddingNav %}

{{ head('Wait for Schedules', True) }}
<link rel="stylesheet" type="text/css" href="/static/css/countdown.css">
<body id="body" class="bg-primary">

{{ nav(logged_in, "/countdown") }}

<section class="has-background-white section pushed">
    <div class="container is-fluid has-text-centered">
        <h1 class="title is-size-2 is-size-4-touch">Stay Tuned!</h1>
        <p class="subtitle is-size-4 is-size-5-touch">Schedules for the coming school year have not been released yet! Enjoy your
            summer!</p>
        <div id="countdown-timer">
            <p class="is-size-5 is-size-6-touch">Time until estimated release:</p>
            <div class="container is-fluid">
                <h1 class="countdown-text is-size-1 is-size-3-touch">
                    <span class="countdown-number countdown-days"></span>

                    <span class="countdown-colon">:</span>

                    <span class="countdown-number countdown-hours"></span>

                    <span class="countdown-colon">:</span>

                    <span class="countdown-number countdown-minutes"></span>

                    <span class="countdown-colon">:</span>

                    <span class="countdown-number countdown-seconds"></span>
                </h1>
            </div>
        </div>
        <p class="is-size-5 is-size-6-touch">Current estimated release: <strong><span id="schedule-release-time"></span></strong></p>
    </div>
</section>

<script type="text/javascript" src="/static/js/countdown.js"></script>

{{ bodyPaddingNav() }}
{{ importJs() }}

</body>
</html>