<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs, bodyPaddingNav %}

{{ head('Dashboard for ' + name, True) }}
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
<body id="body" class="bg-primary">
<script src="/static/js/dashboard.js"></script>

{{ nav(True, "/dashboard", handle) }}
{{ bodyPaddingNav() }}

{% macro rosterCard(period) %}
    <div class="card roster-card">
        <header class="card-header" style="flex-direction: column; padding: 0.5rem;">
            <h1 class="card-header-title is-size-3">{{ schedule[period] }}</h1>
            <h1 class="card-header-title is-size-5 card-header-subtitle">Block {{ period }}
                | {{ rosters[period]|length - 1 }} other student{{ 's' if rosters[period]|length - 1 != 1 }}</h1>
            <a href="/roster/{{ period }}/{{ schedule[period]|safe }}" class="card-header-icon"
               aria-label="more options" style="display: block; position:absolute; top: 0; right: 0;"
               title="Visit {{ schedule[period] }}, Block {{ period }}'s roster page"><span
                    class="icon is-large"><i class="fas fa-2x fa-list"
                                             aria-hidden="true"></i></span></a>
        </header>
        <div class="card-content" id="card-{{ period }}">
            <table class="table is-fullwidth" id="card-table-{{ period }}">
                {% for name, roster_handle in rosters[period] if roster_handle != handle %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{ roster_handle }}</td>
                    </tr>
                {% endfor %}
                <script type="text/javascript">cutTable('{{ period }}')</script>
            </table>
            <a class="button is-outlined is-primary is-fullwidth is-medium view-button"
               onclick="expandCard('{{ period }}')" style="{{ 'display: none;' if rosters[period]|length - 1 < 10 }}">View
                Full Class</a>
            <a class="button is-outlined is-primary is-fullwidth is-medium view-button"
               href="/roster/{{ period }}/{{ schedule[period]|safe }}"
               style="{{ 'display: none;' if rosters[period]|length - 1 > 10 }}">View
                Class</a>
        </div>
    </div>
{% endmacro %}

<section class="hero is-primary pushed">
    <div class="hero-body">
        <div class="container">
            <h1 class="is-size-2 overridden-white title">Dashboard for {{ name }}</h1>
            <h2 class="is-size-4 overridden-white subtitle">{{ handle }}</h2>
        </div>
    </div>
</section>
<section class="pushed" style="margin: 0 10%;">
    <div class="roster-container">
        <div class="roster-row">
            {{ rosterCard('A') }}
            {{ rosterCard('B') }}
            {{ rosterCard('C') }}
        </div>
        <div class="roster-row">
            {{ rosterCard('D') }}
            {{ rosterCard('E') }}
            {{ rosterCard('F') }}
        </div>
        <div class="roster-row">
            {{ rosterCard('G') }}
        </div>
    </div>
</section>

{{ importJs() }}

</body>
</html>