<!doctype html>
<html lang="en">
{% from 'macros.html' import hideScrollbar %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-signin-client_id"
          content="764760025104-is3262o216isl5tbfj4aakcel2tirl7n.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <link rel="stylesheet" href="/static/css/discordIntegration.css">
    <title>PreMatch Discord Integration</title>
    {{ hideScrollbar() }}
</head>
<body class="no-padding is-fullheight" style="max-width: 100%; max-height: 100vh; overflow: hidden;">
<div class="columns is-fullheight" id="container">
    <div class="column is-12-mobile side has-text-centered is-fullheight" id="discord-side">
        <div class="columns is-narrow"
             style="flex-direction: column; min-height: 100vh; overflow: hidden; max-width: 100%;">
            <div class="column">
                <img class="logo" id="discord-logo" src="/static/img/discord.png" alt="Discord">
            </div>
            <section class="column"
                     style="display: flex;flex-direction: column;align-items: center; justify-content: center; max-width: 100%; -webkit-flex: 1 0 auto;">
                <div id="roster-container">
                    {% for counter in range(3) %}
                        <div class="user-container other-user {{ 'dropped-user' if counter <= 1 }} {{ 'left-user' if counter == 2 }}">
                            <div class="user-content">
                                <div class="user-img">
                                    <figure class="user-pfp">
                                        <img src="/static/img/discord%20pfp.png" height="75" width="75">
                                    </figure>
                                </div>
                                <div class="user-info">
                                    <p class="title has-text-light username">Name here</p>
                                    <p class="subtitle has-text-grey id">#0000</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="user-container is-user" id="user-container">
                        <div class="user-content" id="user-box">
                            <div class="user-img" id="user-img">
                                <figure class="user-pfp" id="user-pfp">
                                    <img src="{{ avatar_src }}" alt="{{ user_name }}" id="pfp" height="100" width="100">
                                </figure>
                            </div>
                            <div class="user-info" id="user-info">
                                <p class="title has-text-light username">{{ user_name }}</p>
                                <p class="subtitle has-text-grey id" id="user-id">#{{ user_discriminator }}</p>
                            </div>
                        </div>
                    </div>
                    {% for counter in range(3) %}
                        <div class="user-container other-user {{ 'dropped-user' if counter >= 1 else '' }}">
                            <div class="user-content">
                                <div class="user-img">
                                    <figure class="user-pfp">
                                        <img src="/static/img/discord%20pfp.png" height="75" width="75">
                                    </figure>
                                </div>
                                <div class="user-info">
                                    <p class="title has-text-light username">Name here</p>
                                    <p class="subtitle has-text-grey id">#0000</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
    <div class="column is-2-tablet is-12-mobile is-fullheight" id="blend">
        <h1 class="is-size-2 is-size-4-mobile" id="success">Success!</h1>
        <h2 class="is-size-2 is-size-4-mobile" id="now-try">Now try <span>$$myday</span></h2>
    </div>
    <div class="column side is-12-mobile has-text-centered is-fullheight" id="prematch-side">
        <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <div style="flex: 1;" id="prematch-container">
                <img class="logo" id="prematch-logo" src="/static/img/PreMatch%20Logo.png" alt="PreMatch">
                <div>
                    <h1 class="title has-text-white is-size-3-mobile">
                        <span id="prematch-name">{{ name }}</span>
                    </h1>
                    <h2 class="subtitle is-size-5-mobile" style="color:#ddd; margin: -30px 0 -20px;">
                        <span id="prematch-handle">{{ handle }}</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div id="chain"></div>
    <script type="text/javascript">
        function centerRoster() {
            let container = $('#roster-container');
            let padding = 0;

            if ($(window).outerWidth() > 768) {
                let containerWidth = container.innerWidth();
                let userWidth = $('#user-box').innerWidth();

                padding = (containerWidth - userWidth) / 2;
            } else
                padding = 0;

            container.css({
                'padding-left': padding,
                'padding-right': padding,
                'top': $("#discord-logo").innerHeight()
            });
        }

        centerRoster();

        let bgColors = ['#f04747', '#faa61a', '#7289da', '#747f8d', '#43b581'];
        let names = [["Anakin", "Skywalker"], ["Luke", "Skywalker"], ["Darth", "Vader"], ["Obi-Wan", "Kenobi"], ["Leia", "Organa"], ["R2-D2", ""], ["C-3PO", ""], ["Chewbacca"], ["Han", "Solo"], ["Darth", "Maul"]];
        let otherIds = [];

        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        function generateUsers() {
            Array.prototype.forEach.call(document.getElementsByClassName('other-user'), (userCont) => {
                    let pic = userCont.getElementsByTagName('img')[0];
                    pic.style.backgroundColor = bgColors[getRandomInt(bgColors.length)];
                    let name = userCont.getElementsByClassName('username')[0];
                    let namesId = getRandomInt(names.length);
                    let nameArr = names[namesId];

                    if ($(window).outerWidth() > 768)
                        name.innerHTML = nameArr.join(' ');
                    else {
                        if (nameArr[0] !== "Darth")
                            name.innerHTML = nameArr[0];
                        else
                            name.innerHTML = nameArr[1];
                    }

                    names.splice(namesId, 1);
                    let userId = document.getElementById('user-id').innerHTML.substr(1);
                    let id = '';
                    while (true) {
                        for (let i = 0; i < 4; i++) {
                            id += getRandomInt(10);
                        }

                        if (id === userId || otherIds.includes(id)) {
                            id = '';
                            continue;
                        }

                        otherIds.push(id);
                        break;
                    }

                    let idText = userCont.getElementsByClassName('id')[0];
                    idText.innerHTML = "#" + id;
                }
            );

            names = [["Anakin", "Skywalker"], ["Luke", "Skywalker"], ["Darth", "Vader"], ["Obi-Wan", "Kenobi"], ["Leia", "Organa"], ["R2-D2", ""], ["C-3PO", ""], ["Chewbacca"], ["Han", "Solo"], ["Darth", "Maul"]];
            otherIds = [];
        }

        function manageChain() {
            let chain = $('#chain');
            let userBox = $('#user-box');
            let prematchName = $('#prematch-name');
            let offset = userBox.offset();
            let top = 0, left = 0, width = 0, height = 0;

            if ($(window).outerWidth() > 768) {
                top = offset.top + userBox.innerHeight() / 4;
                left = offset.left + userBox.innerWidth() + 10;

                let prematchLeft = prematchName.offset().left - 10;

                width = prematchLeft - left;
                height = 61;
            } else {
                top = offset.top + userBox.innerHeight() + 10;
                left = offset.left + userBox.innerWidth() / 2 - 61 / 2;

                let prematchHeight = prematchName.offset().top - 10;
                height = prematchHeight - top;
                width = 61;
            }

            chain.css({
                'top': top,
                'left': left,
                'width': width,
                'height': height
            });

            console.log('managed chainio, width: ', width);
        }

        generateUsers();
        manageChain();

        let oldWidth;

        $(window).bind('resize', () => {
            $('#user-box').css('max-width', $('#user-img').innerWidth() + $('#user-info').outerWidth(true));
            if ($(window).outerWidth() <= 1000)
                $('#user-container').css('width', $('#user-box').innerWidth());

            centerRoster();
            if (oldWidth) {
                if ($(window).outerWidth() > 768 && oldWidth <= 768)
                    generateUsers();
                else if ($(window).outerWidth() <= 768 && oldWidth > 768)
                    generateUsers();
            }
            setTimeout(manageChain(), 2000);
            oldWidth = $(window).outerWidth();
        });
        $(document).ready(() => manageChain());
    </script>
</div>
</body>
</html>