<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs, bodyPaddingNav %}
{{ head(title + ' | PreMatch ', False) }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
<script src="static/js/embedMD.js"></script>
<body id="body">
{{ nav(is_logged_in, "") }}

<section class="section pushed">
    <h1 class="has-text-centered title is-size-1">{{ title }}</h1>
    <div id="document-container" class="container">
        <script type="text/javascript">embedMD("static/{{ document_path }}", "document-container");</script>
    </div>
</section>

{{ bodyPaddingNav() }}
{{ importJs() }}
</body>
</html>