<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs, bodyPaddingNav %}
{{ head('Help | PreMatch', False) }}
<link rel="stylesheet" href="/static/css/helpPage.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
<script src="/static/js/embedMD.js"></script>
<body id="body">
{{ nav(is_logged_in, "/help") }}

<section class="section" id="help-main-section">
    <div id="document-container" class="is-size-5">
        <script type="text/javascript">embedMD("{{filepath}}", "document-container");</script>
    </div>
    <div id="help-sidebar">
        <div class="sidebar-card">
            <div class="sidebar-card-title has-text-centered">
                <h1 class="title is-size-4">Related Content</h1>
            </div>
            <div class="sidebar-card-content">
                <ul>
                    <li class="folder"><a href="/help/ios">iOS</a></li>
                    <li class="article"><a href="test">Test</a></li>
                </ul>

                <script type="text/javascript">
                    $('.sidebar-card-content').each((indx, content) => {
                        $(content).children('ul').first().children('li').each((index, li) => {
                            let el = $(li);
                            let iconClass = 'fas fa-file-alt';

                            if (el.hasClass('folder'))
                                iconClass = 'fas fa-folder';


                            el.children('a').before(`<span class="sidebar-link-icon"><i class="${iconClass}"></i></span>`);
                            el.children('a').first().hover(() => {
                                el.children('.sidebar-link-icon').css('color', '#009688 !important');
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>

</section>

{{ bodyPaddingNav() }}
{{ importJs() }}
</body>
</html>