<!DOCTYPE html>
<html>
{% from 'macros.html' import head, nav, importJs %}

{{ head('PreMatch - Discover your classmates') }}

<body id="body">

{{ nav(logged_in, "/", handle) }}


<section class="hero is-fullheight is-transparent section pushed" id="main-hero">
    <div class="hero-body" style="padding-top: 0; padding-bottom: 0;">
        <div class="container has-text-centered">
            <img src="/static/img/PreMatch%20Logo.png" alt="PreMatch: Find your classmates" id="title-logo">
            <h2 class="title is-size-1">Discover your classmates</h2>
            <h2 class="subtitle is-size-4">{{ schedule_count }} schedules entered and counting!</h2>
            <br>
            <a class="button is-outlined is-primary is-large" href="/login">Get started</a>
        </div>
    </div>
</section>
<section class="bg-primary section pushed">
    <div class="container is-fluid has-text-centered">
        <h1 class="title overridden-white is-size-1">What is PreMatch?</h1>
        <p class="overridden-white is-size-4">PreMatch is a site designed for students at Andover High School, enabling
            them to find out which of their friends are in which of their classes before school starts.</p>
        <br>
        <br>
        <a class="button is-outlined is-primary is-large" href="/about">Learn More</a>
    </div>
</section>

{{ importJs() }}

</body>
</html>
