<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/theme.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation" style="position: fixed; top: 0; width: 100%;">
    <div id="navbar-brand" class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" alt="PreMatch: Slogan Here"
                 width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="toggleNav()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="sidenav" class="sidenav">
        <a class="overridden-white" href="#">Link 1</a>
        <a class="overridden-white" href="#">Link 2</a>
        <a class="overridden-white" href="#">Link 3</a>
        <a class="overridden-white" href="#">Link 4</a>
    </div>
</nav>

<main id="main">
    <section class="hero is-fullheight is-transparent" id="main-hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    PreMatch
                </h1>
                <h2 class="subtitle">
                    Slogan Here
                </h2>
            </div>
        </div>
    </section>
</main>


<script src="../static/js/sideBar.js"></script>
</body>
</html>
