<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs %}

{{ head('About PreMatch', True) }}
<body id="body" class="bg-primary" style="height: 100vh;">

{{ nav(False, "/login") }}

<section class="section pushed">
    <div class="container is-fluid has-text-centered">
        <div id="login-box" class="box">
            <h1 class="title is-4">Login to PreMatch</h1>
            <p class="subtitle">Please log in using your <strong>k12.andoverma.us</strong> Google account</p>

            <div class="g-signin2" data-onsuccess="onSignIn" data-width="225" data-height="50"
                 data-longtitle="true" data-theme="dark"></div>
            <br>
            <p class="small-text">Or go back to the <a href="/">Home Page</a></p>

            <form method="post" action="/login">
                <input type="hidden" name="redirect" value="{{ redirect }}">
                <input type="hidden" name="id_token" id="token">
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(() => {
        $("#body").css("padding-top", $("#nav").innerHeight());
    });
</script>

{{ importJs() }}

</body>
</html>