<!DOCTYPE html>
<html lang="en">
{% macro head(title, whiteBurger) %}
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143938190-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-143938190-1');
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/static/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="google-signin-client_id"
              content="764760025104-is3262o216isl5tbfj4aakcel2tirl7n.apps.googleusercontent.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://apis.google.com/js/client:platform.js" async defer></script>
        <script type="text/javascript" src="/static/js/macroScripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/theme.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>PreMatch</title>
        {% endif %}

        {% if whiteBurger %}
            <style>
                .navbar-burger {
                    color: white !important;
                }
            </style>
        {% endif %}

    </head>
{% endmacro %}
<body>


{% macro nav(loggedIn, currentHref) %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages|length > 0 %}
            <div id="flashes">
                {% for message in messages %}
                    <div id="flash-{{ loop.index0 }}" class="flash notification is-{{ 'danger' if message[0] == 'error' else 'primary' }}">
                        <button class="delete" onclick="closeFlash({{ loop.index0 }})"></button>
                        {{ message[1] }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation" id="nav">
        <div id="navbar-brand" class="navbar-brand">
            <a class="navbar-item overridden-white" href="/" title="Visit the PreMatch homepage">
                <img src="/static/img/PreMatch%20Logo.png" alt="PreMatch: Discover your classmates" id="nav-logo">
            </a>

            <a role="button" class="navbar-burger is-large" aria-label="menu" aria-expanded="false"
               onclick="toggleNav()" id="nav-burg">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <script type="text/javascript">
            function signOutAndRedirect(location) {
                signOut(() => {
                    window.location.replace(location);
                });
            }
        </script>

    </nav>
    <div id="overlay"></div>
    <div id="sidenav" class="sidenav is-size-2">
        <a role="button" class="navbar-burger is-large" aria-label="menu" aria-expanded="false"
           onclick="toggleNav()" id="nav-burg-sidenav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div id="sidenav-link-container">
            <a class="" href="/">Home</a>
            <a class="" href="/about">About</a>
            {% if loggedIn %}
                <hr>
                <a class="" href="/dashboard">My Classes</a>
                <a class="" href="/update">Update</a>
                <a class="" href="/search">Search</a>
                <hr>
                <a class="" onclick="signOutAndRedirect('/logout')">Logout</a>
            {% else %}
                <a class="" href="/login">Login</a>
            {% endif %}
        </div>
        <div id="nav-bottom-links">
            <ul>
                <li><a class="" href="/help">Help</a><a class="" href="/support">Support</a></li>
                <li>
                    <a class="" href="/privacy">Privacy Policy</a><a class="" href="/terms">Terms</a>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            setActive("{{ currentHref }}");
        </script>
    </div>
{% endmacro %}

{% macro bodyPaddingNav() %}
    <script type="text/javascript">
        $("#body").css("padding-top", $("#nav").innerHeight());

        $(document).ready(() => {

            if (document.getElementById("flashes")) {
                const $flashes = $("#flashes");
                const $nav = $("#nav");

                let msgHeight = $flashes.innerHeight();
                document.getElementById("nav").style.top = `${msgHeight}px`;
                $("#body").css("padding-top", "0");
                $flashes.css("margin-bottom", $nav.innerHeight());
                document.getElementById("sidenav").style.paddingTop = `${msgHeight + $nav.innerHeight()}px`;
                $flashes.css('display', 'block');
            } else {
                $(window).resize(() => {
                    $("#body").css("padding-top", $("#nav").innerHeight());
                });
            }
        });
    </script>
{% endmacro %}

{% macro importJs() %}
    <script src="/static/js/sideBar.js"></script>
    <script src="/static/js/googleSignIn.js"></script>
    <script src="/static/js/flash.js"></script>
{% endmacro %}

{% macro hideScrollbar() %}
    <style>
        ::-webkit-scrollbar {
            display: none;
        }
    </style>
{% endmacro %}
</body>
</html>