<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs, bodyPaddingNav, hideScrollbar %}

{{ head('Article Not Found | PreMatch', False) }}
{{ hideScrollbar() }}
<body id="body" class="bg-primary" style="height: 100vh; overflow: hidden; position: relative;">

{{ nav(False, "/login") }}
{{ bodyPaddingNav() }}

<section class="section pushed" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%">
    <div class="container is-fluid has-text-centered">
        <h1 class="title is-size-1 is-size-3-touch has-text-white">Sorry, no such article could be found!</h1>
        <h2 class="subtitle is-size-3 is-size-5-touch has-text-white"><a href="/help" title="Return to /help" class="white-link underlined">Return to help home page?</a></h2>
    </div>
</section>

{{ importJs() }}

</body>
</html>