<!DOCTYPE html>
<html>
<head>
    <title>Error! - PreMatch</title>
    <meta http-equiv="refresh" content="5;url=/"/>
</head>
<body>
<style>
    @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
    h1 {
        font-family: 'Press Start 2P', sans-serif;
        text-align: center;
        font-size: 14px;
    }
</style>
<img src="/static/img/PreMatch%20Logo%20-%20Pixelated.png"
     style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
<br>
<br>
<h1>There either is no user with the handle <strong style="color: #00BCD4;">{{ bad_handle }}</strong>, or they haven't set up their schedule yet!</h1>
</body>
</html>