<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs, bodyPaddingNav %}

{{ head('Roster of Block ' + period + ' with ' + teacher, True) }}
<body id="body" class="bg-primary">

{{ nav(True, "/roster", handle) }}
{{ bodyPaddingNav() }}

<section class="hero is-primary section pushed">
    <div class="hero-body">
        <div class="container">
            <h1 class="title overridden-white is-1">
                Block {{ period }} with {{ teacher }}
            </h1>
            <h2 class="subtitle overridden-white is-3">
                {{ roster|length }} student(s)
            </h2>
        </div>
    </div>
</section>
<section class="section pushed">
    <table class="table is-fullwidth is-size-4">
        <thead>
        <tr>
            <th>Name</th>
            <th>Handle</th>
            <th>Schedule</th>
        </tr>
        </thead>
        <tbody>
        {% for name, rhandle in roster %}
        <tr class="{{ 'is-selected' if handle == rhandle }}">
            <td>{{ name }}</td>
            <td>{{ rhandle }}</td>
            <td>
                <a class="button {{ 'is-outlined' if handle != rhandle }} is-primary is-medium" href="/user/{{ rhandle }}">View Schedule</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{{ importJs() }}

</body>
</html>