<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs, footer %}

{{ head('Support | PreMatch', True) }}

<body id="body" class="bg-primary">

{{ nav(logged_in, "/support") }}

<section class="is-transparent section pushed is-fluid has-text-centered">
    <h1 class="title is-size-1 overridden-white">Welcome to the PreMatch support homepage</h1>
    <h2 class="subtitle overridden-white is-size-4">We appreciate your feedback</h2>
    <br><br>
    <h3 class="title overridden-white is-size-4">The following options are available to you</h3>
    <h4 class="subtitle overridden-white is-size-5">Please choose the issue that best applies to your situation</h4>
    <br>
    <ul class="overridden-white is-size-5" style="list-style-type: disc; width: 35%; text-align: left; margin: 0 auto;">
        <li><a href="/support/feedback">I'd like to give feedback or suggest a feature</a></li>
        <li><a href="/support/teachers">My teacher is missing</a></li>
        <li>
            <a href="mailto:support@prematch.org?subject=PreMatch Bug Report&body=Please provide as much relevant information as possible. Screenshots would be greatly appreciated."
               title="Click to send us an email">I'd like to report a bug</a>
        </li>
        <li>
            <a href="mailto:support@prematch.org" title="Click to send us an email">None of the above options apply to me</a>
        </li>
    </ul>
</section>

{{ importJs() }}

</body>
</html>