<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs, bodyPaddingNav, footer %}

{{ head('Update Schedule - PreMatch') }}
<script type="text/javascript" src="/static/js/addSchedule.js"></script>
<body id="body" class="bg-primary">

{{ nav(True, '/update') }}

{{ bodyPaddingNav() }}

<section class="section pushed">
    <form method="POST" action="/update" id="form-invis">
        {% for period in 'ABCDEFG' %}
            <input type="hidden" name="{{ period }}1" id="input-invis-{{ period }}-1">
            <input type="hidden" name="{{ period }}2" id="input-invis-{{ period }}-2">
        {% endfor %}
        {% for lunch in 'CDEFG' %}
            <input type="hidden" name="lunch{{ lunch }}1" class="lunch-input" id="lunch-invis-{{ lunch }}-1">
            <input type="hidden" name="lunch{{ lunch }}2" class="lunch-input" id="lunch-invis-{{ lunch }}-2">
        {% endfor %}
        <input type="hidden" name="public" id="public-input" value="{{ 'true' if user.is_public or schedule == none }}">
        <input type="hidden" name="cohort" id="cohort-input"> 
    </form>

    <div class="box has-text-centered">
        {% if name != '' %}
            <h1 class="title is-size-1">Welcome{{ '' if schedule == none else ' back' }}, {{ name }}!</h1>
            <h2 class="subtitle is-size-4"
                style="color: black!important;">{{ 'Please input your schedule below' if schedule == none else 'Your current schedule is posted below. You may edit it if you wish by selecting a different teacher and pressing "Update."' }}</h2>
            <h3 class="subtitle has-text-black is-size-5">Please search for teachers by <strong>last name</strong>!</h3>
            <h3 class="subtitle has-text-black is-size-5">Can't find a teacher? Request their addition <a href="/support/teachers" target="_blank">here</a>!</h3>
        {% endif %}

        <form id="form" style="height: auto; margin-bottom: 40px;">
            {% for period in 'ABCDEFG' %}
                {% for semester in '12' %}
                    <div class="teacher-dropdown" id="dropdown-container-{{ period }}-{{ semester }}">
                        <div class="teacher-dropdown-content" id="teacher-dropdown-{{ period }}-{{ semester }}">
                            <label class="block-label" for="teacherInput{{ period }}-{{ semester }}">Block {{ period }}, Semester {{ semester }}</label>
                            <br>
                            <input type="text" placeholder="Enter teacher name or '(None)'" id="teacherInput{{ period }}-{{ semester }}"
                                   onkeyup="filterTeachers('{{ period }}', '{{ semester }}')" onfocus="selectInput('{{ period }}', '{{ semester }}')">
                            <div class="link-holder has-text-left" id="link-holder-{{ period }}-{{ semester }}">
                                {% for teacher in teachers %}
                                    <a style="display: none;" id="{{ teacher }}-{{ period }}-{{ semester }}"
                                       onclick="selectTeacher(&quot;{{ period }}&quot;, '{{ semester }}', &quot;{{ teacher|safe }}&quot;)">{{ teacher }}</a>
                                {% endfor %}
                                <p style="display: none;" id="no-results-{{ period }}-{{ semester }}">No teachers found</p>
                            </div>
                        </div>
                        <div class="notification is-primary" id="teacher-notif-{{ period }}-{{ semester }}">
                            <button type="button" class="delete" onclick="unselectTeacher('{{ period }}', '{{ semester }}')"></button>
                            <p class="block-label title">Block {{ period }}, Semester {{ semester }}:</p>
                            <p class="subtitle" id="teacher-notif-text-{{ period }}-{{ semester }}"></p>

                            {% if period in 'CDEFG' %}
                                <label class="is-size-7" for="lunch-container-{{ period }}-{{ semester }}">
                                    (Optional) {{ 'Add' if lunch_numbers(semester, period) == none else 'Update' }} your lunch:
                                </label>
                                <div id="lunch-container-{{ period }}-{{ semester }}">
                                    <a class="lunch-dropdown button is-accent is-outlined is-small"
                                       id="lunch-opener-{{ period }}-{{ semester }}"
                                       onclick="openLunchDropdown(&quot;{{ period }}&quot;, '{{ semester }}')">
                                        {% if lunch_numbers(semester, period) == none %}
                                            Select lunch...
                                        {% else %}
                                            Lunch {{ lunch_numbers(semester, period) }}
                                        {% endif %}
                                        <i class="fas fa-caret-down" style="margin-left: 4px;"></i></a>
                                    <div class="lunch-options" id="lunch-options-{{ period }}-{{ semester }}">
                                        {% for lunch in lunches %}
                                            <a class="lunch-option button is-accent is-outlined is-small"
                                               id="lunch-select-{{ period }}-{{ lunch }}-{{ semester }}"
                                               onclick="selectLunch(&quot;{{ period }}&quot;, '{{ semester }}', &quot;{{ lunch }}&quot;)"
                                               style="{{ 'border-radius: 5px 5px 0 0;' if loop.index == 1 else '' }}">Lunch {{ lunch }}</a>
                                        {% endfor %}
                                        <a class="lunch-option button is-accent is-outlined is-small"
                                           onclick="closeLunchDropdown(&quot;{{ period }}&quot;, '{{ semester }}')"
                                           style="border-radius: 0 0 5px 5px;">Close <i
                                                class="fas fa-caret-up" style="margin-left: 4px"></i></a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if schedule != none %}
                                <a class="button is-outlined is-primary is-medium"
                                   data-href-base="/roster/{{ semester }}/{{ period }}/"
                                   id="view-roster-{{ period }}-{{ semester }}" style="border-radius: 10px;">View Classmates</a>
                            {% endif %}
                            {% if period in lunch_periods and lunch_numbers(semester, period) != none %}
                                <a class="button is-outlined is-primary is-medium lunch-button"
                                   href="/lunch/{{ period }}/{{ lunch_numbers(semester, period) }}"
                                   id="view-lunch-{{ period }}-{{ semester }}" style="border-radius: 10px; margin-top: 10px;">View
                                    Lunch</a>
                            {% endif %}
                            <script type="text/javascript">
                                $(document).ready(() => {
                                    $("#lunch-options-{{ period }}-{{ semester }}").css('max-width',
                                        $('#lunch-opener-{{ period }}-{{ semester }}').innerWidth());
                                    $('#lunch-opener-{{ period }}-{{ semester }}').css('min-width', $('#lunch-opener-{{ period }}-{{ semester }}').innerWidth());
                                });
                            </script>
                        </div>

                    </div>
                {% endfor %}
            {% endfor %}
            {% if schedule != none %}
                <script type="text/javascript">
                    {% for period in 'ABCDEFG' %}
                        {% for semester in '12' %}
                            {% if schedule(semester, period) != '' %}
                                selectTeacher('{{ period }}', '{{ semester }}', `{{ schedule(semester, period)|safe }}`);
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </script>
            {% endif %}
            {% if user.cohort != none %}
            <script>
                $(() => selectCohort('{{ user.cohort.name }}'));
            </script>
            {% endif %}

            <div style="font-size: 18px">
                <input type="radio" name="cohort" id="cohort-remote" data-cohort="remote" class="radio" required onchange="selectCohort(this.getAttribute('data-cohort'))">
                <label for="cohort-remote">Remote</label>
                <input type="radio" name="cohort" id="cohort-blue" data-cohort="blue" class="radio ml-2" required onchange="selectCohort(this.getAttribute('data-cohort'))">
                <label for="cohort-blue">Blue</label>
                <input type="radio" name="cohort" id="cohort-gold" data-cohort="gold" class="radio ml-2" required onchange="selectCohort(this.getAttribute('data-cohort'))">
                <label for="cohort-gold">Gold</label>
            </div>
            <div>
                <div style="display: inline-block">
                    <input type="checkbox" name="public" onclick="togglePublic(this)"
                           id="public-checkbox" {{ 'checked' if user.is_public or schedule == none }}>
                    <label for="public-checkbox" style="font-size: 18px;">Make my schedule public</label>
                </div>
                <div class="help-tip" style="display: inline-block">
                    <p>If you make your schedule public, it can be seen by any AHS student. <br><br> If you keep your
                        schedule private, your name will only be shown to classmates who share classes with you, and only in the classes you have in common. No AHS student can see your
                        entire schedule. </p>
                </div>
                {% if user.is_public %}
                    <script type="text/javascript">togglePublic(document.getElementById("public-checkbox"));</script>
                {% endif %}
            </div>
            <script type="text/javascript">teachers = {{teachers | tojson}};</script>
        </form>

        <a class="button is-outlined is-primary is-large"
           onclick="submitChanges('ABCDEFG'.split(''), '12'.split(''), {{ lunch_periods }}, {{ lunches }})">
            {{ 'Submit' if schedule == none else 'Update' }}
        </a>

        <h1 id="err-msg" style="margin-top: 20px; font-size: 20px;"></h1>

        <script type="text/javascript">setOriginalMargin();</script>
    </div>
</section>

<style>
    .box {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        z-index: 99999999;
    }

    .notification .button.is-medium {
        width: 100%;
    }

    @media screen and (max-width: 1000px) {
        .box {
            width: 80%;
        }

        .title {
            font-size: 2rem !important;
        }

        .subtitle {
            font-size: 1rem !important;
        }
    }

    @media screen and (max-width: 600px) {
        .box {
            width: 100%;
        }

        .title {
            font-size: 1.5rem !important;
        }

        .subtitle {
            font-size: 0.75rem !important;
        }

        .button.is-medium {
            font-size: 1rem !important;
        }
    }

    @media screen and (max-width: 460px) {
        div[id^="teacher-notif-"] {
            z-index: 0;
        }

    }
</style>

{{ importJs() }}
</body>
</html>