<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import head, nav, importJs %}

{{ head('Schedule of ' + name, True) }}
<body id="body" class="bg-primary">

{{ nav(True, "/user/" + handle, handle) }}

<section class="hero is-primary section pushed">
    <div class="hero-body">
        <div class="container">
            <h1 class="title overridden-white is-1">
                Class List for {{ name }}
            </h1>
            <h2 class="subtitle overridden-white is-3">
                {{ handle }}
            </h2>
        </div>
    </div>
</section>
<section class="section pushed">
    <table class="table is-fullwidth is-size-4" style="max-width: 75%; margin: 0 auto;">
        <thead>
        <tr>
            <th>Block</th>
            <th>Teacher</th>
            <th>Roster</th>
        </tr>
        </thead>
        <tbody>
        {% for period in 'ABCDEFG' %}
            <tr>
                <td>{{ period }}</td>
                <td>{{ schedule[period] }}</td>
            <td>
                <a class="button is-link is-outlined is-primary is-medium overridden-white" href="/roster/{{ period }}/{{ schedule[period] }}">View Roster</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

<script type="text/javascript">
    $(document).ready(() => {
        $("#body").css("padding-top", $("#nav").innerHeight());
    });
</script>
{{ importJs() }}

</body>
</html>