<!DOCTYPE html>
<html>
<head>
	<script async>
		function signOut() {
			return gapi.auth2.getAuthInstance().signOut();
		}

		function onSignIn(user) {
			if (!user.getBasicProfile().getEmail().endsWith('k12.andoverma.us')) {
				signOut().then(() => alert("You need to sign in with your k12.andoverma.us account!"));
				return;
			}

			document.getElementById('token').value = user.getAuthResponse().id_token;
		}
	</script>
	<title>Schedule of {{ name }} - PreMatch</title>
</head>
<body>
	<h3>The schedule of {{ name }} ({{ handle }})</h3>
	<form method="POST" action="/update" id="form">
		<input type="hidden" name="id_token" id="token">

        {% if schedule is not none %}
		{% for period in 'ABCDEFG' %}
			<br>
			{{ period }}: {{ schedule[period] }}
		{% endfor %}
        {% endif %}

		<input type="submit" value="Submit">
	</form>
</body>
</html>