<!DOCTYPE html>
<html>
<head>
	<script async>
		function signOut() {
			return gapi.auth2.getAuthInstance().signOut();
		}

		function onSignIn(user) {
			if (!user.getBasicProfile().getEmail().endsWith('k12.andoverma.us')) {
				signOut().then(() => alert("You need to sign in with your k12.andoverma.us account!"));
				return;
			}

			document.getElementById('token').value = user.getAuthResponse().id_token;
		}
	</script>
	{% if schedule is none %}
	<title>Add new schedule - PreMatch</title>
	{% else %}
	<title>Edit existing schedule - PreMatch</title>
	{% endif %}
	<meta name="google-signin-client_id" content="764760025104-is3262o216isl5tbfj4aakcel2tirl7n.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
	{% if schedule is none %}
	<h3>Welcome, {{ name }} ({{ handle }})!</h3>
	{% else %}
	<h3>Welcome back, {{ name }}! Your schedule has been prepopulated below.</h3>
	{% endif %}
	<div class="g-signin2" data-onfailure="console.error" data-onsuccess="onSignIn"></div>
	<form method="POST" action="/update" id="form">
		<input type="hidden" name="id_token" id="token">

        {% if schedule is not none %}
		{% for period in 'ABCDEFGH' %}
			<br>
			{{ period }}: {{ schedule[period] }}
		{% endfor %}
        {% endif %}

		<input type="submit" value="Submit">
	</form>
</body>
</html>